.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 987px;
    width: calc(100% - 32px);
}

.places__item {
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 48px 44px;
    padding-bottom: 80px;
}

.places__item:last-child {
    padding-bottom: 0;
}

.places__title {
    margin: 0;
    max-width: 100%;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.06;
    text-align: start;
}

.places__image {
    width: 100%;
    padding-bottom: 1%;
    max-width: 460px;
    object-fit: contain;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.places__image:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.places__frame_gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.places__frame {
    margin: 0;
    max-width: 289px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}

.places__frame:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.places__artist-name {
    max-width: 456px;
    align-self: flex-end;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
}

.places__artist-span {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;
}

.places__artist-link {
    color: inherit;
    text-decoration: underline;
}

.places__artist-link:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.places__description {
    grid-row: span 3;
}

.places__description_line {
    margin: 0;
    max-width: 484px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.63;
    padding-bottom: 25px;
}

.places__description_line:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1028px) and (min-width: 544px) {
    .places {
        max-width: 720px;
    }

    .places__item {
        max-width: 100%;
        gap: 48px 28px;
        padding-bottom: 72px;
    }

    .places__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 1.09;
    }

    .places__image {
        max-width: 340px;
    }

    .places__frame {
        font-size: 18px;
        line-height: 1;
    }

    .places__artist-name {
        max-width: 352px;
    }

    .places__description_line {
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width: 544px) {
    .places {
        max-width: 320px;
    }

    .places__item {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 30px 0;
        padding-bottom: 50px;
    }

    .places__title {
        max-width: 288px;
        font-size: 32px;
    }

    .places__image {
        max-width: 100%;
    }

    .places__frame {
        max-width: 320px;
        width: calc(100% - 32px);
        font-size: 14px;
    }

    .places__artist-name {
        width: calc(100% - 32px);
    }

    .places__description {
        max-width: 320px;
    }

    .places__description_line {
        width: calc(100% - 32px);
        font-size: 16px;
    }
}
